server:
  port: 8082
  servlet:
    context-path: /reservation

spring:
  application:
    name: reservation
  datasource:
    url: jdbc:h2:mem:reservation
    username: root
    password: password
    jpa:
      spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
      defer-datasource-initialization: true # Pour eviter que le script data.txt s'execute avant l'initialisation Hibernate.
      properties:
        hibernate:
          show_sql: true
          use_sql_comments: true
          format_sql: true
          ddl-auto: update
    h2:
      console.enabled: true # Acc?s ? la console H2 dans votre navigateur http://localhost:3/h2-console
    logging:
      level:
        org:
          hibernate:
            type: trace #Pour loguer les valeurs dans les requï¿½tes sql
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
